[Unit]
Description=PH4NTXM Network Prep
After=ph4ntxm-init.target
Before=network-pre.target NetworkManager.service
ConditionPathExists=/usr/local/sbin/ph4ntxm-net-prep.sh

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ph4ntxm-net-prep.sh
RemainAfterExit=yes

[Install]
WantedBy=ph4ntxm-init.target
