source /boot/grub/config.cfg
set menu_title="PH4NTXM MENU"

set default="0"
set timeout=5

# Live boot
menuentry "PH4NTXM (Linux Mode)" {
    linux   /live/vmlinuz boot=live ph4ntxm.mode=linux toram nopersistence components quiet splash apparmor=1 security=apparmor
    initrd  /live/initrd.img
}

menuentry "PH4NTXM (Windows Mode)" {
    linux   /live/vmlinuz boot=live ph4ntxm.mode=windows toram nopersistence components quiet splash apparmor=1 security=apparmor
    initrd  /live/initrd.img
}

menuentry "PH4NTXM (Android Mode)" {
    linux   /live/vmlinuz boot=live ph4ntxm.mode=android toram nopersistence components quiet splash apparmor=1 security=apparmor
    initrd  /live/initrd.img
}