label live-linux
    menu label PH4NTXM (Linux Mode)
    kernel /live/vmlinuz
    append initrd=/live/initrd.img boot=live ph4ntxm.mode=linux toram nopersistence components quiet splash apparmor=1 security=apparmor

label live-windows
    menu label PH4NTXM (Windows Mode)
    kernel /live/vmlinuz
    append initrd=/live/initrd.img boot=live ph4ntxm.mode=windows toram nopersistence components quiet splash apparmor=1 security=apparmor

label live-android
    menu label PH4NTXM (Android Mode)
    kernel /live/vmlinuz
    append initrd=/live/initrd.img boot=live ph4ntxm.mode=android toram nopersistence components quiet splash apparmor=1 security=apparmor